        .header {
            padding: 40px;
            text-align: center;
            background: #570000;
            color: white;
            font-size: 30px;
            font-family: "Roboto", sans-serif;
            text-shadow: 4px 4px 8px #1f1f1f;
        }

        .motto {
            font-size: 40px;
            font-family: 'Dancing Script', cursive;
        }

        .topnav {
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            background-color: #333;
            overflow: hidden;
        }

        /* Style the links inside the navigation bar */
        .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        }

        /* Change the color of links on hover */
        .topnav a:hover {
        background-color: #ddd;
        color: black;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
        background-color: #610000;
        color: white;
        }

        .footer {
            padding: 40px;
            background: #570000;
            color: white;
            text-align: center;
            font-family: "Roboto", sans-serif;
        }

        .body {
            padding: 80px;
            text-align: center;
            font-family: "Roboto", sans-serif;
            background-image: url('IMG_1485.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }

        .advisory {
            font-weight:bold;
            padding: 20px;
            text-align: center;
            background: rgba(255, 255, 255, .80);
            color: #570000;
        }

        .about {
            font-weight:bold;
            padding: 20px;
            text-align: center;
            background: rgba(255, 255, 255, .80);
            color: #570000;
        }
